.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.img{
  width: 300px;
  height: 300px;
  margin-top: 50px;
}
.textoFrase{
  font-style: italic;
  color: #dd7b22;
  text-align: center;
}