.container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img{
  width: 350px;
  height: 350px;
  padding-top: 100px;
}
.timer{
  font-size: 130px;
  margin-top: -250px;
}

.areaBtn{
  margin-top: 100px;
  display: flex;
}
.botao{
  width: 150px;
  background-color: #FFF;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.botao:houver{
  opacity: 0.7;
  color: #000;
  transition: all 0.50s;
}